@charset "UTF-8";

body {
  font-family: sans-serif;
}

h1 {
	color: red;
}

table {
  border: 1px inset black;
  
  margin: 2em;
  padding: 1em;
}

tr {
  background-color: #c00;
}

td {
  padding: 0.5em;
  
  font-size: 18pt;
  
  border: 1px solid green;
}

.par {
  background-color: #ccc;
}
